*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-primary-unread: #f6fafd;
  --color-secondary-read: #fff;
  --color-notificationtype: #5b5d69;
  --color-time: #9ca1a7;
  --color-message: #66676c;
  --color-message-hover: #e5eff9;
  --color-name: #07070f;
  --color-white: #fff;
  --color-hover: #20397b;
  --color-red-dot: #ff4647;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  background: #f9fafe;
  padding: 7rem 3rem;
}

h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.2;
  font-size: 2rem;
}

/* container */
.container {
  max-width: 600px;
  padding: 2rem;
  margin: auto;
  background: var(--color-white);
  box-shadow: 0 0 50px rgb(228, 229, 230);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 750px;
    margin: auto;
    padding: 2rem 3rem;
  }
}

/* notification body */

.notification {
  display: flex;
  border: 1px solid green;
  padding: 0 0.5rem 0 2rem;
  background: var(--color-primary-unread);
  border-radius: 8px;
  margin-top: 2rem;
}

.display__picture {
  width: fit-content;
  border: 1px solid green;
  align-self: flex-start;
  margin-top: 1.7rem;
}

.display__picture img {
  height: 45px;
}

.notification__body {
  width: 100%;
  border: 1px solid green;
  margin-left: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.sender__name {
  font-weight: 700;
  color: var(--color-name);
}

.notification__type {
  margin-bottom: 0.8rem;
  color: var(--color-notificationtype);
  word-spacing: 0.5px;
  cursor: pointer;
}

.red__dot {
  width: 70px;
}
.notification__post {
  color: #4a4e57;
  font-weight: 550;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.notification__post:hover {
  color: var(--color-hover);
}

.notification__sent-time {
  margin-top: 0;
  color: var(--color-time);
}

.notification__message {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
  padding: 2rem;
  color: var(--color-message);
  box-shadow: 0 0 50px 10px rgb(245, 252, 252);
  transition: background 0.2s;
  cursor: pointer;
}

.notification__message:hover {
  background: var(--color-message-hover);
}

.notification__type .fa-circle {
  font-size: 1rem;
  color: var(--color-red-dot);
}

@media screen and (min-width: 768px) {
  .notification__message {
    max-width: 550px;
  }
}

/* notifications header */

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.notification__header {
  color: var(--color-name);
}

.notification__counter {
  background: var(--color-hover);
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 7px;
}
.mark__read {
  justify-self: right;
  color: var(--color-notificationtype);
  cursor: pointer;
  font-weight: 500;
}

.mark__read:hover {
  color: var(--color-hover);
}
