<div class="notification">
  <div class="display__picture">
    <img
      src="./assets/images/avatar-rizky-hasanuddin.webp"
      alt="display picture"
    />
  </div>

  <aside class="notification__body">
    <p class="notification__type">
      <span class="sender__name">Rizky Hasanuddin</span> sent you a private
      message
      <i class="fa-solid fa-circle"></i>
    </p>
    <p class="notification__sent-time">5 days ago</p>
    <p class="notification__message">
      Hello, thanks for setting up the Chess Club. I've been a member for a few
      weeks now and I'm already having lots of fun and improving my game.
    </p>
  </aside>
</div>
